@inject IUserService userService
@inject IDialogService DialogService;
@inject ISnackbar Snackbar;

<MudDialog DefaultFocus="DefaultFocus.FirstChild">
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Outlined.Create" Color="Color.Primary" Class="mr-3 mb-n1" />
            @MudDialog.Title
        </MudText>
    </TitleContent>
    <DialogContent>
        <MudForm @bind-IsValid="formIsValid" Model="User" Disabled="saving" @ref="form">
            <MudTextField @bind-Value="User.Mobile" For="@(() => User.Mobile)" Required="true" Immediate="true" Label="Mobile" Variant="Variant.Text" Margin="Margin.Normal"></MudTextField>
        </MudForm>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="@Color.Success" Variant="Variant.Filled" OnClick="Save" Disabled="!formIsValid">Save</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; }

    private MudForm? form;
    private bool saving;
    bool formIsValid;

    [Parameter]
    public MobileUser? User { get; set; }


    void Cancel() => MudDialog.Cancel();

    protected override async Task OnInitializedAsync()
    {

    }

    async Task Save()
    {
        try
        {
            saving = true;
            await userService.SaveMobileUser(User!);
            Snackbar.Add("Mobile User Added.", MudBlazor.Severity.Success);

            var parameters = new DialogParameters<MobileActivationKeyDialog> { { x => x.User, User } };
            var options = new DialogOptions { CloseOnEscapeKey = false, CloseButton = false, FullWidth = true };
            var dialog = DialogService.Show<MobileActivationKeyDialog>("Mobile Activation Key", parameters, options);
            var result = await dialog.Result;
            if (!dialog.Result.IsCanceled)
                MudDialog.Close(DialogResult.Ok(true));
        }
        catch (Exception ex)
        {
            await HandleException(ex);
        }

        saving = false;
        form!.ResetValidation();
    }

    public async Task HandleException(Exception ex)
    {

        if (ex is ApiCallException)
        {
            Snackbar.Add(
    @<div>
        <h3>Warning</h3>
        <ul>
            @foreach (var errorMessage in (ex as ApiCallException).ErrorMessages)
            {
                <li>@errorMessage</li>
            }
        </ul>
    </div>
        , Severity.Warning);
        }
        else
        {
            Snackbar.Add(
    @<div>
        <h3>Error</h3>
        <ul>
            <li>@ex.Message</li>
            <li>@ex.InnerException?.Message</li>
        </ul>
    </div>
    , Severity.Error);
        }

    }
}